.contenedor{
box-sizing: border-box;
display: flex;
height: 100vh;
width: 100vw;
flex-grow: 1;
margin-left: 0px
}

header, footer {
  background-color: #2d3142;
  width: 100vw;
  height: 100px;
  align-items: center;

}
footer {
  font-size: 0.8rem;

}
aside {
  background-color: #adacb5;

}

main {
  background-color:#d8d5db;
  width: 100vw;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
